body {
  background-color: rgb(235, 235, 235);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  color: #080808;
  text-decoration: none;
}

.nav-link--selected {
  background-color: rgb(92, 92, 92);
  color: #fcfcfc;
}

@media (max-width: 480px) {

  .nav-list {
    justify-content: space-between;
  }

  .nav-link {
    padding: 1rem;
    max-width: 3rem;
  }
}